CustomersProductsOefening/.vs/ProjectEvaluation/customersproductsoefening.strings.v9.bin
CustomersProductsOefening/WebApplication1/bin
CustomersProductsOefening/WebApplication1/obj
CustomersProductsOefening/WebApplication1/appsettings.Development.json
